<%= form_for @customer do |c|%>
    <div>
        <%= c.text_field :first_name, placeholder: 'c.first_name' %>
        <%= c.text_field :last_name, placeholder: 'c.last_name' %>
        <%= c.text_field :table_number, placeholder: 'c.table_number'%>
        <%= c.submit 'Save'%>
    </div>
<%end%>