<%= link_to '| New Customer', new_customer_path%>

<% @customers.each do |c| %>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%=c.first_name%> <%=c.last_name%>: table <%=c.table_number%></h4>
      </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title"> <%= link_to "Edit", edit_customer_path(c.id)%> | <%= link_to "Show", customer_path(c)%> | <%= link_to "Delete", customers_path(c.id), method: :delete%></h5>
        </div>
    </div>
  </div>
</div>
<%end%>