<%= link_to 'New', new_customer_path%>

<% @customers.each do |c| %>
    <div>
    <h4><%=c.first_name%> <%=c.last_name%>: table <%=c.table_number%></h2>
    </div>
    <div><%= link_to "Edit", edit_customer_path(c.id)%>
    <%= link_to "Show", customer_path(c)%>
    <%= link_to "Delete", customers_path(c.id), method: :delete%> </div>
<%end%>