<%= form_for @customer do |c|%>
    <div>
        <%= c.text_field :first_name, placeholder: 'First Name' %>
        <%= c.text_field :last_name, placeholder: 'Last Name' %>
        <%= c.text_field :table_number, placeholder: 'Table Number'%>
        <%= c.submit 'Save'%>
    </div>
<%end%>