<%= link_to 'New', new_dish_path%>

<% @dishes.each do |d| %>
    <p>
        <%=d.pasta%> with <%=d.sauce%>
    </p>
    <%= link_to 'Edit', edit_dish_path(d.id)%>
    <%= link_to "Show", dish_path(d)%>
    <%= link_to 'Delete', dish_path(d.id), method: :delete%>
<%end%>
