
<%= form_for @visit do |f| %>

<label>Patient</label>
<select name='animal_id'>
  <% @animal.each do |animal|%>
    <option value="<%=animal.id%>"><%=animal.name%></option>
  <%end%>
</select>

<label>Weight</label>
<div><%= f.number_field :weight, placeholder: "lbs", step: 0.1%></div>

<label>Veterinarian:</label>
  <div><%= f.text_field :vet, placeholder: 'Veterinarian Name'%></div>

<%=f.submit 'Save', class:"btn btn-primary"%>
<%end%>


