<%= link_to 'New', new_visit_path, class:"btn btn-primary my-2"%>
<% @visit.each do |visit| %>
<div>

<%= visit.vet%>
<%= visit.weight%>
<%= visit.created_at%>
<%= visit.animal.name%>
<%= visit.user_id%>
<%end%>
</div>
