<%= link_to "New", new_equine_path %>

<%= @equine.each do |equine| %>
<div>
    <h4><%=equine.name%></h4>
    <img src="<%=equine.picture%>" height="150">
    <%= link_to 'Edit', edit_equine_path(equine.id)%>
    <%= link_to 'Show', equine_path(equine)%>
    <%= link_to "Delete", equine_path(equine.id), method: :delete%> 
</div>
<%end%>