<%= link_to 'New Order', new_order_path%>
<% @orders.each do |o|%>
<div>
    <%= o.street_address%> <%= o.city%>, <%= o.state%> <%= o.zip%>
    <%= o.status%>
    <%= link_to 'Edit', prepare_order_path(o)%>
    <%= o.created_at.strftime("%-d-%b-%Y")%>
</div>
<% end %>