<h1>EDIT</h1>
<form action="/contacts/edit" method="post">
    <input type='text' name='first_name' placeholder='<%=@contact.first_name%>'>
    <input type='text' name='last_name' placeholder='<%=@contact.last_name%>'>
    <input type='text' name='phone' placeholder='<%=@contact.phone%>'>
    <input type='text' name='email' placeholder='<%=@contact.email%>'>
    <input type='text' name='address' placeholder='<%=@contact.address%>'>
    <input type='text' name='city' placeholder='<%=@contact.city%>'>
    <input type='text' name='state' placeholder='<%=@contact.state%>'>
    <input type='text' name='zip' placeholder='<%=@contact.zip%>'>
    <input type="hidden" name=‘id’ value=‘<%= @contact.id %>’>
    <input type="submit" value="Save">
</form>